.vs
Main2

Main-rpn/.vs
Main-rpn/Debug
Main-rpn/Main-rpn/Debug
Main-rpn/Main-rpn/Main-rpn.vcxproj.user

Main-TwosComplement/.vs
Main-TwosComplement/Debug
Main-TwosComplement/Main-TwosComplement/Debug
Main-TwosComplement/Main-TwosComplement/Main-TwosComplement.vcxproj.filters
Main-TwosComplement/Main-TwosComplement/Main-TwosComplement.vcxproj.user
